<div>
    <h1>Available Players</h1>
    <div class="card">
        <div class="card-body">
            <div class="scrollable-table">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Height</th>
                            <th>Nationality</th>
                            <th>Weight</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each flattenedPlayerData}}
                            <tr>
                                <td>{{this.player.name}}</td>
                                <td>{{this.player.height}}</td>
                                <td>{{this.player.nationality}}</td>
                                <td>{{this.player.weight}}</td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
