<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <title>Mozzam Calculator Login</title>

</head>

<body>
<div class="login-page">
    <div class="form">
      <form class="login-form" action= '/login' method="post">
        <input type="text"  name="name" id="username" placeholder="Username"/>
        <input type="text"  name="loginpassword" id="password"  placeholder="Password"/>
        <button class="btn btn-primary" type="submit">login</button></a>
        <p class="message">Not registered? <a href='/registration'>Create an account</a></p>
        {{#if error}}
      <p>{{error}}</p>
      {{/if}}
      </form>
      
    </div>
  </div>
</body>
</html>

